
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutCDAS.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.EmailConfirmedMessage))
{
    <h4 class="text-danger">@ViewBag.EmailConfirmedMessage</h4>
}

