@model String
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutCDAS.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.ResetPasswordMessage))
{
    <div class="text-info">
        <h4 class="text-info">@ViewBag.ResetPasswordMessage</h4>
    </div>
}


<div class="row">
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div class="form-group">
                <label class="control-label">Email Address</label>
                <input name="email" class="form-control" type="text" />
            </div><br />
            <input type="submit" value="Send password reset request" class="btn btn-default btn-block" style="background-color:#46B3AE; color:white" />
        </form>
    </div>

    <div class="col-md-6">
        <img src="~/health-theme-assets/images/gallery-03.jpg" style="max-width: 100%; height: auto; position: fixed " />
    </div>
</div>

