@inject SignInManager<AppUser> signInManager
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg" style="position:fixed; top:0px; width:100%">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index"><img src="~/health-theme-assets/images/logo.png" width="100" alt="image"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><a class="nav-link btn btn-default" style="background-color:#46B3AE; color:white;margin-right:5px" href="/Patient/Index">Book Appointment</a></li>
                    @if (signInManager.IsSignedIn(Context.User))
                    {
                        string name = signInManager.UserManager.FindByNameAsync(Context.User.Identity.Name).Result.Name;
                        string surname = signInManager.UserManager.FindByNameAsync(Context.User.Identity.Name).Result.Surname;
                        <li>
                            <div class="dropdown">
                                <a class="nav-link btn btn-default dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"
                                   style="background-color:#46B3AE; color:white;margin-right:10px" href="#">@name @surname</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: #330136; color:white;">
                                    <li><a class="dropdown-item" style="color:white;" href="#">Account Details</a></li>
                                    <li><a class="dropdown-item" style="color:white;" href="#">Appointment Details</a></li>
                                    <li><a class="dropdown-item" style="color:white;" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li><a class="nav-link btn btn-default" style="background-color:#46B3AE; color:white;margin-right:5px" color:white;" asp-controller="Account" asp-action="Login">Login</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>
</header>